@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS fix for Next.js */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

/* Prevent Leaflet errors during component transitions */
.leaflet-container.leaflet-touch {
  -webkit-tap-highlight-color: transparent;
}

.leaflet-container-removed {
  display: none !important;
}
